<meta http-equiv="content-type" content="text/html; charset=Windows-1251">
<meta name="generator" content="Rtf2Html Converter">
<title>
			Єдиний державний реєстр судових рішень
		</title>
<p> </p>
		<p align="right"><b><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">                                                                                                                            </span></b><span align="right" style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">                                                                                                                   </span><b align="right"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">Справа № 204/4/13-к</span></b></p>
		<p align="right"><b><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">                                                                                                                       1-кс/204/4/13</span></b></p>
		<p> </p>
		<p> </p>
		<p align="center"><b><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:16pt;">У Х В А Л А</span></b></p>
		<p><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;"> </span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">01 січня 2013 року слідчий суддя Красногвардійського районного суду м. Дніпропетровська Леон О.Я.</span></p>
		<p> </p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">при секретарі:          </span><span align="justify" style="background-color:#FFFFFF;font-family:Arial CYR;font-size:12pt;">                           </span><span align="justify" style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">Зайченко О.В.</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">за участю прокурора:          </span><span align="justify" style="background-color:#FFFFFF;font-family:Arial CYR;font-size:12pt;">                           </span><span align="justify" style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">Андрієвської Л.О.</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">слідчого:                                                                    Тарапатової І.А.</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">підозрюваного:</span><span align="justify" style="background-color:#FFFFFF;font-family:Arial CYR;font-size:12pt;">                 </span><span align="justify" style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">                                       ОСОБА_1</span></p>
		<p> </p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">розглянувши у відкритому судовому засіданні в залі суду в м. Дніпропетровську клопотання слідчого СВ Красногвардійського РВ ДМУ ГУМВС України в Дніпропетровській області Тарапатової І.А., погоджене з прокурором прокуратури Красногвардійського району м. Дніпропетровська Андрієвською Л.О. про застосування запобіжного заходу у вигляді тримання під вартою відносно:</span></p>
		<p align="justify"><b><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">ОСОБА_1</span></b><span align="justify" style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">, ІНФОРМАЦІЯ_1, уродженець с. Любімівка Дніпропетровського району Дніпропетровської області, громадянин України, українець, освіта середня, розлучений, не працевлаштований, зі слів раніше не судимий, який не має місця реєстрації та постійного місця мешкання, </span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">підозрюваного   у   вчинення   кримінального   правопорушення,   передбаченого   ч. 2 <a href="http://search.ligazakon.ua/l_doc2.nsf/link1/an_984/ed_2012_12_05/pravo1/T012341.html?pravo=1#984" title="Кримінальний кодекс України; нормативно-правовий акт № 2341-III від 05.04.2001" target="_blank">ст. 187 КК України,</a></span><span align="justify" style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:13pt;"> -  </span><span align="justify" style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:8pt;"> </span></p>
		<p align="justify"><b><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">                                                   ВСТАНОВИВ:</span></b></p>
		<p> </p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">01 січня 2013 року до суду надійшло клопотання слідчого СВ Красногвардійського РВ ДМУ ГУМВС України в Дніпропетровській області Тарапатової І.А., погоджене з прокурором прокуратури Красногвардійського району суду м. Дніпропетровська Андрієвською Л.О. про застосування запобіжного заходу у вигляді тримання під вартою відносно підозрюваного ОСОБА_1</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">30.12.2012 р., близько 01:00 год., невстановлені особи, знаходячись на перехресті вул. Філософської та пр. Пушкіна в м. Дніпропетровську, із застосуванням насильства, небезпечного для життя та здоров'я особи, що зазнала нападу, що виразилося у спричинені потерпілому ОСОБА_4 тілесних ушкоджень у вигляді відкритої черепно-мозкової травми, забійної рани нижньої губи, заволоділи чужим майном, належним останньому, а саме: золотим ланцюгом, вартістю 5500 гривень, золотим хрестиком, вартістю, 300 гривень, золотою обручкою, вартістю 2200 гривень, мобільним телефоном «Флай», вартістю 550, гривень, в якому знаходилась сім-картка оператора мобільного зв'язку «Київ Стар», яка не представляє для потерпілого матеріальної цінності, після чого з викраденим з місяця вчинення злочину зникли, спричинивши потерпілому ОСОБА_4 матеріальні збитки на загальну суму 8550 гривень. </span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">За даним фактом СВ Красногвардійського РВ ДМУ ГУМВС України в Дніпропетровській області розпочато досудове розслідування по кримінальному провадженню №12012040680000596, внесеному до Єдиного реєстру досудових розслідувань 30.12.2012 р. за ознаками кримінального правопорушення, передбаченого ч. 2 <a href="http://search.ligazakon.ua/l_doc2.nsf/link1/an_984/ed_2012_12_05/pravo1/T012341.html?pravo=1#984" title="Кримінальний кодекс України; нормативно-правовий акт № 2341-III від 05.04.2001" target="_blank">ст. 187 КК України</a>. </span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">Вина ОСОБА_1 підтверджується зібраними по кримінальному провадженню доказами, а саме: показаннями потерпілого ОСОБА_4, протоколами впізнання особи за фотознімками, протоколами пред'явлення речей для впізнання, речовими доказами, протоколом довідкою №12035 з КЗ «Дніпропетровська клінічна лікарня №16», огляду місця події. </span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">В діях ОСОБА_1 вбачаються ознаки кримінального правопорушення, передбаченого ч. 2 <a href="http://search.ligazakon.ua/l_doc2.nsf/link1/an_984/ed_2012_12_05/pravo1/T012341.html?pravo=1#984" title="Кримінальний кодекс України; нормативно-правовий акт № 2341-III від 05.04.2001" target="_blank">ст. 187 КК України</a>. </span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">30.12.2012 року за підозрою у вчиненні вказаного кримінального правопорушення, в порядку <a href="http://search.ligazakon.ua/l_doc2.nsf/link1/an_1621/ed_2012_07_05/pravo1/T124651.html?pravo=1#1621" title="Кримінальний процесуальний кодекс України; нормативно-правовий акт № 4651-VI від 13.04.2012" target="_blank">ст. 208 КПК України</a>, затриманий ОСОБА_1, ІНФОРМАЦІЯ_1, та направлений до ІТТ ДМУ ГУМВС України в Дніпропетровській області.</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">31.12.2012 року по вказаному кримінальному провадженню ОСОБА_1, ІНФОРМАЦІЯ_1, в порядку ст.<a href="http://search.ligazakon.ua/l_doc2.nsf/link1/an_2107/ed_2012_07_05/pravo1/T124651.html?pravo=1#2107" title="Кримінальний процесуальний кодекс України; нормативно-правовий акт № 4651-VI від 13.04.2012" target="_blank">ст. 276-278 КПК України</a> повідомлено про підозру у вчиненні кримінального правопорушення, передбаченого <a href="http://search.ligazakon.ua/l_doc2.nsf/link1/an_984/ed_2012_12_05/pravo1/T012341.html?pravo=1#984" title="Кримінальний кодекс України; нормативно-правовий акт № 2341-III від 05.04.2001" target="_blank">ст. 187 ч. 2 КК України</a>. </span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">В ході досудового розслідування по вказаному кримінальному провадженню виникла необхідність у застосуванні запобіжного заходу відносно підозрюваного у вигляді тримання під вартою, оскільки є достатньо підстав вважати, що існують ризики, що підозрюваний        ОСОБА_1 може здійснити дії, передбачені п.п. 1,2,3 ч. 1 <a href="http://search.ligazakon.ua/l_doc2.nsf/link1/an_1349/ed_2012_07_05/pravo1/T124651.html?pravo=1#1349" title="Кримінальний процесуальний кодекс України; нормативно-правовий акт № 4651-VI від 13.04.2012" target="_blank">ст. 177 КПК України</a>, а саме: в ході проведення допиту потерпілого ОСОБА_4 встановлено, що він реально побоюється, що ОСОБА_1 може мститися йому, у зв'язку з подачею ним заяви про вчинення останнім відносно нього кримінального правопорушення, в подальшому ОСОБА_1 буде чинити відносно нього психологічний та фізичний тиск з метою зміни даних ним під час досудового розслідування показань та дати неправдиві показання щодо обставин вчиненого правопорушення. Також слід враховувати, що під час вчиненого відносно потерпілого ОСОБА_4 вищезазначеного кримінального правопорушення у останнього було викрадене наступне майно: золотий ланцюг, золотий хрестик, золота обручка, мобільний телефон «Флай», в якому знаходилась сім-картка оператора мобільного зв'язку «Київ Стар», а на теперішній час встановлено місце знаходження та вилучена лише частина викраденого майна, а саме: золотий ланцюг та золота обручка, тобто встановлено та вилучено не все викрадене майно, яке має значення речових доказів. Окрім цього, ОСОБА_1 не має місця реєстрації та постійного місця мешкання, тобто може переховуватися від органів досудового розслідування та суду.</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">Дослідивши клопотання, копії матеріалів, якими слідчий, прокурор обґрунтовують доводи клопотання, заслухавши думку сторін кримінального провадження слідчий суддя дійшов до висновку, що у задоволенні клопотання має бути відмовлено, виходячи з наступного: </span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">З матеріалів справи вбачається, що слідчий Тарапатова І.А. не має повноважень на проведення досудового розслідування по кримінальному провадженню № 12012040680000596. Досудове розслідування згідно матеріалів справи доручено провести слідчим СВ Красногвардійського РВ ДМУ ГУМВС України в Дніпропетровській області Маненко Д.О. та Авдєєву О.М.Відповідно до ст. </span><b align="justify"><a href="http://search.ligazakon.ua/l_doc2.nsf/link1/an_288/ed_2012_07_05/pravo1/T124651.html?pravo=1#288" title="Кримінальний процесуальний кодекс України; нормативно-правовий акт № 4651-VI від 13.04.2012" target="_blank"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;"> 39 КПК України:  </span></a></b><span align="justify" style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">1. Керівник органу досудового розслідування організовує досудове розслідування. 2. Керівник органу досудового розслідування уповноважений: 1) визначати слідчого (слідчих), який здійснюватиме досудове розслідування, а у випадках здійснення досудового розслідування слідчою групою - визначати старшого слідчої групи, який керуватиме діями інших слідчих;</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">Повноважень для проведення досудового розслідування слідчий Тарапатова І.А. не отримувала, таким чином її дії щодо внесення подання НЕЗАКОННІ.</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">Більш того, з матеріалі справи вбачається, що підозрюваний затриманий 30.12.2012 року   </span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">о 19 годині 36 хвилин, тобто після сплину 18 годин після вчинення злочину, а в протоколі затримання вказано, що підставою затримання є БЕЗПОСЕРЕДНЬО </span><span align="justify" style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:18pt;">після вчинення</span><span align="justify" style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">  злочину потерпілий  вказав, що саме ця особа вчинила злочин.</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">          Затримання провів слідчий Маненко в порушення вимог <a href="http://search.ligazakon.ua/l_doc2.nsf/link1/an_1621/ed_2012_07_05/pravo1/T124651.html?pravo=1#1621" title="Кримінальний процесуальний кодекс України; нормативно-правовий акт № 4651-VI від 13.04.2012" target="_blank">Статті 208. КПК України</a> відповідно до вимог якої:  1. Уповноважена службова особа має право без ухвали слідчого судді, суду затримати особу, підозрювану у вчиненні злочину, за який передбачене покарання у виді позбавлення волі, лише у випадках:</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">1) якщо цю особу застали під час вчинення злочину або замаху на його вчинення;</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">2) якщо безпосередньо після вчинення злочину очевидець, в тому числі потерпілий, або сукупність очевидних ознак на тілі, одязі чи місці події вказують на те, що саме ця особа щойно вчинила злочин.</span></p>
		<p align="center"><b><span style="background-color:#FFFFFF;font-family:Cambria;font-size:13pt;"><a href="http://search.ligazakon.ua/l_doc2.nsf/link1/an_1597/ed_2012_07_05/pravo1/T124651.html?pravo=1#1597" title="Кримінальний процесуальний кодекс України; нормативно-правовий акт № 4651-VI від 13.04.2012" target="_blank">Стаття 206. КПК України</a> передбачає загальні обов'язки судді щодо захисту прав людини</span></b></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">1. Кожен слідчий суддя суду, в межах територіальної юрисдикції якого знаходиться особа, яка тримається під вартою, має право постановити ухвалу, якою зобов'язати будь-який орган державної влади чи службову особу забезпечити додержання прав такої особи.</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">2. Якщо слідчий суддя отримує з будь-яких джерел відомості, які створюють обґрунтовану підозру, що в межах територіальної юрисдикції суду знаходиться особа, позбавлена свободи за відсутності судового рішення, яке набрало законної сили, або не звільнена з-під варти після внесення застави в установленому цим Кодексом порядку, він зобов'язаний постановити ухвалу, якою має зобов'язати будь-який орган державної влади чи службову особу, під вартою яких тримається особа, негайно доставити цю особу до слідчого судді для з'ясування підстав позбавлення свободи.</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">3. Слідчий суддя зобов'язаний звільнити позбавлену свободи особу, якщо орган державної влади чи службова особа, під вартою яких тримається ця особа, не надасть судове рішення, яке набрало законної сили, або не доведе наявність інших правових підстав для позбавлення особи свободи.</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">4. Якщо до доставлення такої особи до слідчого судді прокурор, слідчий звернеться з клопотанням про застосування запобіжного заходу, слідчий суддя зобов'язаний забезпечити проведення у найкоротший строк розгляду цього клопотання.</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">5. Незалежно від наявності клопотання слідчого, прокурора, слідчий суддя зобов'язаний звільнити особу, якщо орган державної влади чи службова особа, під вартою яких трималася ця особа, не доведе:</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">1) існування передбачених законом підстав для затримання особи без ухвали слідчого судді, суду;</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">   Під час розгляду данної справи ні прокурор, ні слідчий не надали слідчому судді передбачених законом підстав для затримання ОСОБА_1 </span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">          Керуючись <a href="http://search.ligazakon.ua/l_doc2.nsf/link1/an_84/ed_2011_02_01/pravo1/Z960254K.html?pravo=1#84" title="КОНСТИТУЦІЯ УКРАЇНИ; нормативно-правовий акт № 254к/96-ВР від 28.06.1996" target="_blank">ст. 29 Конституції України</a>, ст.ст. <a href="http://search.ligazakon.ua/l_doc2.nsf/link1/an_1349/ed_2012_07_05/pravo1/T124651.html?pravo=1#1349" title="Кримінальний процесуальний кодекс України; нормативно-правовий акт № 4651-VI від 13.04.2012" target="_blank">177-178</a>, <a href="http://search.ligazakon.ua/l_doc2.nsf/link1/an_1491/ed_2012_07_05/pravo1/T124651.html?pravo=1#1491" title="Кримінальний процесуальний кодекс України; нормативно-правовий акт № 4651-VI від 13.04.2012" target="_blank">193-194</a>, <a href="http://search.ligazakon.ua/l_doc2.nsf/link1/an_1534/ed_2012_07_05/pravo1/T124651.html?pravo=1#1534" title="Кримінальний процесуальний кодекс України; нормативно-правовий акт № 4651-VI від 13.04.2012" target="_blank">196 КПК України</a>, слідчий суддя, -</span></p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">                                                              </span></p>
		<p> </p>
		<p align="center"><b><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:13pt;">У Х В А Л И В :</span></b></p>
		<p> </p>
		<p align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">У задоволенні клопотання слідчого СВ Красногвардійського РВ ДМУ ГУМВС України в Дніпропетровській області Тарапатової І.А. про застосування запобіжного заходу у вигляді тримання під вартою відносно </span><b align="justify"><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">ОСОБА_1 -відмовити.</span></b></p>
		<p> </p>
		<p align="justify"><b><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">          </span></b><span align="justify" style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">Ухвала може бути оскаржена до апеляційного суду Дніпропетровської області.</span></p>
		<p> </p>
		<p> </p>
		<p><span style="background-color:#FFFFFF;font-family:Times New Roman CYR;font-size:12pt;">                                              Слідчий суддя:                                             О.Я. Леон     </span></p>
		<p> </p>

	
